<h1>Showing Selected Jobcard</h1>

<p>Job Card  Number    : <%= @jobcard.id %></p>
<p>Vehicle Number      : <%= Vehicle.find(@jobcard.vehicle_id).vehicle_no %>  </p>
<p>Estimation          : <%= @jobcard.estimated_cost %>  </p>
<p>Date of Arrival     : <%= @jobcard.date_arrival.strftime('%d %B %Y') %>  </p>

<%= render 'common/nav' %>
